<launch>
    <node name="turtle_node" pkg="turtlesim" type="turtlesim_node" />
    <node name="draw" pkg="turtle_control" type="setup.py" />
    <rosparam command="load" file="config/waypoint.yaml" />
    <rosparam command="load" file="config/dist_thresh.yaml" />
    <node name="translate" pkg="turtle_control" type="translate.py" />
    <node name="follow" pkg="turtle_control" type="follow.py" />
</launch>